<h1>Create New List</h1>

<%= form_for @list do |f| %>
  <% if @list.errors.any? %>  
  <div class='error'>  
    <h2><%= pluralize(@list.errors.count, "error") %> prevent this list from being saved:</h2>  
    <ul>  
    <% @list.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>
 <% end %>
	
	<%= render :partial => 'form', :locals => {:f => f} %>
	
	<%= f.submit "Create List" %>
<% end %>